html, body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.text-only {
  display: none;
}

#labpal-logo {
  background: url('images/labpal-32.png') top left no-repeat;
  width: 98px;
  height: 32px;
  display: inline-block;
  margin-top: 4px;
}

#labpal-logo span {
  display: none;
}

.highlighted {
  background: yellow;
  border: solid red 2px;
  font-weight: bold;
}

#content {
  border: solid 1px darkgrey;
  margin: 20px;
  margin-top: 104px;
  background: url('images/graph-paper-50.png');
  padding: 8px;
  padding-bottom: 44px;
}

h1 {
  margin-top: 0px;
}

#top-menu {
  position: fixed;
  top: 0px;
  margin: 0px;
  width: 100%;
  height: 80px;
  border-bottom: solid 4px {%COLOR 1%};
  background: {%COLOR 3%};
}

#top-menu ul {
  list-style-type: none;
  margin: 0px;
  margin-top: 12px;
}

#top-menu ul li {
  display: inline-block;
  margin: 0px;
  margin-right: 8px;
  padding: 4px;
  border: solid 1px #d8d8d8;
  border-radius: 4px;
  box-shadow: 2px 2px 0px 0px rgba(115,115,115,1);
}

#top-menu ul li:hover {
  background: white;
  border-color: #ccc;
}

#top-menu ul li a {
  text-decoration: none;
  color: #222;
  height: 48px;
  line-height: 48px;
  display: inline-block;
}

#top-menu ul li.selected {
  color: #422;
  background: white;
}


#top-menu-home {
  background: url('images/home-48.png') left center no-repeat;
  padding-left: 56px;
}

#top-menu-status {
  background: url('images/status-48.png') left center no-repeat;
  padding-left: 56px;
}

#top-menu-experiments {
  background: url('images/erlenmeyer-48.png') left center no-repeat;
  padding-left: 56px;
}

#top-menu-assistant {
  background: url('images/assistant-48.png') left center no-repeat;
  padding-left: 32px;
}

#top-menu-plots {
  background: url('images/graph-48.png') left center no-repeat;
  padding-left: 56px;
}

#top-menu-tables {
  background: url('images/table-48.png') left center no-repeat;
  padding-left: 56px;
}

#top-menu-find {
  background: url('images/find-48.png') left center no-repeat;
  padding-left: 56px;
}

#top-menu-macros {
  background: url('images/tulip-48.png') left center no-repeat;
  padding-left: 56px;
}

#top-menu-help {
  background: url('images/help-48.png') left center no-repeat;
  padding-left: 56px;
}

#footer {
  position: fixed;
  height: 40px;
  line-height: 40px;
  border-top: solid 4px {%COLOR 1%};
  bottom: 0px;
  width: 100%;
  font-size: 80%;
  background: {%COLOR 3%} url('images/lif-24.png') center right 8px no-repeat;
}

#footer a {
  text-decoration: none;
  color: #444;
}

#footer > div {
  margin-left: 8px;
}

#footer-text {
  display: inline-block;
  line-height: 40px;
  height: 32px;
  float: left;
}

#logo-container {
  display: inline-block;
  height: 32px;
  float: left;
  margin-right: 12px;
}

.btn {
  border: solid 1px darkgrey;
  border-radius: 4px;
  height: 32px;
  line-height: 20px;
  background: {%COLOR 4%};
  padding: 4px;
  display: inline-block;
  text-decoration: none;
  color: #222;
  box-shadow: 2px 2px 0px 0px rgba(115,115,115,1);
}

.btn:hover, .btn-24:hover {
  background-color: #e8e8e8;
}

.btn-24 {
  border: solid 1px darkgrey;
  border-radius: 4px;
  height: 24px;
  line-height: 24px;
  background: {%COLOR 4%};
  padding: 4px;
  display: inline-block;
  text-decoration: none;
  color: #222;
  box-shadow: 2px 2px 0px 0px rgba(115,115,115,1);
}

#btn-download {
  background: {%COLOR 4%} url('images/download-24.png') 4px 4px no-repeat;
  padding-left: 40px;
}

#btn-upload {
  background: {%COLOR 4%} url('images/upload-24.png') 4px 4px no-repeat;
  padding-left: 40px;
}

#btn-start {
  background: {%COLOR 4%} url('images/running-24.png') 4px 4px no-repeat;
  padding-left: 40px;
}

#btn-stop {
  background: {%COLOR 4%} url('images/abort-24.png') 4px 4px no-repeat;
  padding-left: 40px;
}

.btn-queue {
  background: {%COLOR 4%} url('images/queue-24.png') 4px 4px no-repeat;
  padding-left: 40px;
}

.btn-unqueue {
  background: {%COLOR 4%} url('images/remove-24.png') 4px 4px no-repeat;
  padding-left: 40px;
}

.btn-reset {
  background: {%COLOR 4%} url('images/reset-24.png') 4px 4px no-repeat;
  padding-left: 40px;
}

.btn-clean {
  background: {%COLOR 4%} url('images/clean-24.png') 4px 4px no-repeat;
  padding-left: 40px;
}

#btn-find {
  background: {%COLOR 4%} url('images/find-24.png') 4px 4px no-repeat;
  padding-left: 40px;
}

.btn-picture {
  background: {%COLOR 4%} url('images/image-24.png') 4px 4px no-repeat;
  padding-left: 40px;
}

.json-table th {
  text-align: left;
  background: {%COLOR 3%};
  margin: 2px;
  padding: 2px;
  border-radius: 2px;
}

.json-table td {
  margin: 2px;
  padding: 2px;
}

.json-table pre {
  padding: 0px;
  margin: 0px;
}

table th {
  text-align: left;
}

table.exp-table th {
  font-weight: bold;
  background: {%COLOR 3%};
}

table.exp-table tr:hover td {
  background-color: rgba(224, 224, 236, 0.5);
}

table.exp-table td.exp-chk {
  background: url('images/erlenmeyer-16.png') right center no-repeat;
  padding-right: 20px;
}

table.exp-table td {
  padding: 4px;
}

.status-icon {
  display: inline-block;
  height: 24px;
  min-width: 24px;
  margin-right: 12px;
}

.status-icon.status-done {
  background: url('images/status-done-24.png') left center no-repeat;
}

.status-icon.status-warning {
  background: url('images/status-warning-24.png') left center no-repeat;
}

.status-icon.status-running {
  background: url('images/status-running-24.png') left center no-repeat;
}

.status-icon.status-ready {
  background: url('images/status-ok-24.png') left center no-repeat;
}

.status-icon.status-failed {
  background: url('images/status-fail-24.png') left center no-repeat;
}

.status-icon.status-queued {
  background: url('images/status-queued-24.png') left center no-repeat;
}

.status-icon.status-prereq {
  background: url('images/status-prereq-24.png') left center no-repeat;
}

.plot {
  width: 340px;
  height: 280px;
  float: left;
  margin: 20px;
}

.plot img {
  width: 320px;
  height: 240px;
  border: solid 1px darkgrey;
  opacity: 0.67;
}

.plot img:hover {
  border: solid 1px blue;
  opacity: 1;
}

.plot ul {
  margin-left: 0;
  padding-left: 0;
}

.plot ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 10px;
}

.btn-pdf {
  background: {%COLOR 4%} url('images/icon-pdf-24.png') 4px 4px no-repeat;
  padding-left: 32px;
}

.btn-gp {
  background: {%COLOR 4%} url('images/graph-24.png') 4px 4px no-repeat;
  padding-left: 32px;
}

.btn-table {
  background: {%COLOR 4%} url('images/table-24.png') 4px 4px no-repeat;
  padding-left: 32px;
}

.btn-csv {
  width: 24px;
  height: 24px;
  background: url('images/csv-24.png') top center no-repeat;
  display: inline-block;
}

.btn-tex {
  width: 24px;
  height: 24px;
  background: url('images/tex-24.png') top center no-repeat;
  display: inline-block;
}

.btn-html {
  width: 24px;
  height: 24px;
  background: url('images/html-24.png') top center no-repeat;
  display: inline-block;
}

.btn-all-plots {
  background: {%COLOR 4%} url('images/pages-24.png') 4px 4px no-repeat;
  padding-left: 28px;
}

.btn-all-plots-latex {
  background: {%COLOR 4%} url('images/tex-24.png') 4px 4px no-repeat;
  padding-left: 28px;
}

.btn-all-tables{
  background: {%COLOR 4%} url('images/pages-24.png') 4px 4px no-repeat;
  padding-left: 28px;
}

.with-desc {
  cursor: help;
}

.message {
  padding-left: 40px;
  border: solid 1px darkgrey;
  border-radius: 4px;
  min-height: 48px;
  display: table-cell;
  vertical-align: middle;
  margin-bottom: 12pt;
}

.message span {
  margin: auto;
  display: block;
  margin: 6px;
}

.message.info {
  background: white url('images/info-32.png') left center no-repeat;
}

.message.error {
  background: #fcc url('images/error-32.png') left center no-repeat;
}

.message.warning {
  background: #ffc url('images/error-32.png') left center no-repeat;
}

#progress-bar {
  border: solid 1px darkgrey;
  height: 16px;
  width: auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right: 12pt;
  background: white;
  display: inline-block;
}

#progress-bar li {
  float: left;
  display: block;
  height: 16px;
  margin: 0;
  padding: 0;
}

#progress-bar .done {
  background-color: green;
}

#progress-bar .done:hover {
  background-color: lightgreen;
}

#progress-bar .warning {
  background-color: orange;
}

#progress-bar .warning:hover {
  background-color: yellow;
}

#progress-bar .queued {
  background-color: gray;
}

#progress-bar .queued:hover {
  background-color: lightgray;
}

#progress-bar .failed {
  background-color: red;
}

#progress-bar .failed:hover {
  background-color: #f88;
}

#progress-bar .other {
  background-color: white;
}

.pulldown {
  padding-left: 24px;
  background: url('images/expanded-24.png') top left no-repeat;
  cursor: zoom-out;
}

.pulldown.closed {
  background: url('images/collapsed-24.png') top left no-repeat;
  cursor: zoom-in;
}

.tables .table-icon {
  width: 24px;
  background: url('images/table-24.png') top center no-repeat;
  padding-right: 8pt;
}

.tables a, .exp-table a {
  text-decoration: none;
  color: {%COLOR 2%};
}

.tables a:hover, .exp-table a:hover {
  color: {%COLOR 1%};
}

table.results {
  background: white;
}

table.results th {
  background: #ddd;
}

a.explanation {
  color: black;
  text-decoration: none;
  cursor: help;
}

a.explanation:hover {
  background: yellow;
  color: red;
}

.description {
  margin-bottom: 10pt;
}

.status-table {
  margin-top: 10pt;
  margin-bottom: 10pt;
}

.status-table th {
  background: {%COLOR 3%};
}

.status-table td {
  background-color: rgba(224, 224, 236, 0.5);
}

.id-cell {
  font-weight: bold;
  font-style: italic;
  color: {%COLOR 1%};
}

#content a {
  color: {%COLOR 2%};
  text-decoration: none;
}

#content a:hover {
  color: {%COLOR 1%};
  text-decoration: underline;
}

dl.macros dt {
  background: url('images/tulip-24.png') center left no-repeat;
  padding-left: 28px;
  margin-bottom: 6pt;
}

dl.macros dt span.macro-name {
  font-weight: bold;
  font-style: italic;
  color: {%COLOR 2%};
}

dl.macros dd {
  margin-bottom: 10pt;
}

a.anchor {
  padding-top: 90px;
  margin-top: -90px;
}

.explanation a {
  text-decoration: none;
}

pre.multiline {
  height: 1em;
  overflow: hidden;
  cursor: zoom-in;
}

pre.multiline.open {
  height: auto;
  cursor: zoom-out;
}