html, body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.text-only {
  display: none;
}

#content {
  border: solid 1px darkgrey;
  margin: 20px;
  margin-top: 104px;
  background: url('images/graph-paper-50.png');
  padding: 8px;
  padding-bottom: 44px;
}

h1 {
  margin-top: 0px;
}

#top-menu {
  position: fixed;
  top: 0px;
  margin: 0px;
  width: 100%;
  height: 80px;
  border-bottom: solid 4px #88a;
  background: #eef;
}

#top-menu ul {
  list-style-type: none;
  margin: 0px;
  margin-top: 12px;
}

#top-menu ul li {
  display: inline-block;
  margin: 0px;
  margin-right: 8px;
  padding: 4px;
  border: solid 1px #d8d8d8;
  border-radius: 4px;
}

#top-menu ul li:hover {
  background: white;
  border-color: #ccc;
}

#top-menu ul li a {
  text-decoration: none;
  color: #222;
  height: 48px;
  line-height: 48px;
  display: inline-block;
}

#top-menu ul li.selected {
  color: #422;
  background: white;
}


#top-menu-home {
  background: url('images/home-48.png') left center no-repeat;
  padding-left: 56px;
}

#top-menu-status {
  background: url('images/status-48.png') left center no-repeat;
  padding-left: 56px;
}

#top-menu-experiments {
  background: url('images/erlenmeyer-48.png') left center no-repeat;
  padding-left: 56px;
}

#top-menu-assistant {
  background: url('images/assistant-48.png') left center no-repeat;
  padding-left: 32px;
}

#top-menu-plots {
  background: url('images/graph-48.png') left center no-repeat;
  padding-left: 56px;
}

#top-menu-tables {
  background: url('images/table-48.png') left center no-repeat;
  padding-left: 56px;
}

#top-menu-help {
  background: url('images/help-48.png') left center no-repeat;
  padding-left: 56px;
}

#footer {
  position: fixed;
  height: 40px;
  line-height: 40px;
  border-top: solid 4px #88a;
  bottom: 0px;
  width: 100%;
  font-size: 80%;
  background: #eef url('images/lif-24.png') center right 8px no-repeat;
}

#footer a {
  text-decoration: none;
  color: #444;
}

#footer > div {
  line-height: 40px;
  margin-left: 8px;
}

.btn {
  border: solid 1px darkgrey;
  border-radius: 4px;
  height: 32px;
  line-height: 32px;
  background: #e0e0e0;
  padding: 4px;
  display: inline-block;
  text-decoration: none;
  color: #222;
}

.btn:hover, .btn-24:hover {
  background-color: #e8e8e8;
}

.btn-24 {
  border: solid 1px darkgrey;
  border-radius: 4px;
  height: 24px;
  line-height: 24px;
  background: #e0e0e0;
  padding: 4px;
  display: inline-block;
  text-decoration: none;
  color: #222;
}

#btn-download {
  background: #e0e0e0 url('images/download-32.png') 4px 4px no-repeat;
  padding-left: 40px;
}

#btn-upload {
  background: #e0e0e0 url('images/upload-32.png') 4px 4px no-repeat;
  padding-left: 40px;
}

#btn-start {
  background: #e0e0e0 url('images/running-24.png') 4px 4px no-repeat;
  padding-left: 40px;
}

#btn-stop {
  background: #e0e0e0 url('images/abort-24.png') 4px 4px no-repeat;
  padding-left: 40px;
}

.btn-queue {
  background: #e0e0e0 url('images/queue-24.png') 4px 4px no-repeat;
  padding-left: 40px;
}

.btn-unqueue {
  background: #e0e0e0 url('images/remove-24.png') 4px 4px no-repeat;
  padding-left: 40px;
}

.btn-reset {
  background: #e0e0e0 url('images/reset-24.png') 4px 4px no-repeat;
  padding-left: 40px;
}

.btn-clean {
  background: #e0e0e0 url('images/clean-24.png') 4px 4px no-repeat;
  padding-left: 40px;
}

.btn-clean {
  background: #e0e0e0 url('images/clean-24.png') 4px 4px no-repeat;
  padding-left: 40px;
}

.json-table th {
  text-align: left;
  background: #ccc;
  margin: 2px;
  padding: 2px;
  border-radius: 2px;
}

.json-table td {
  margin: 2px;
  padding: 2px;
}

table th {
  text-align: left;
}

table.exp-table tr:hover td {
  background-color: rgba(255, 255, 0, 128);
}

table.exp-table td.exp-chk {
  background: url('images/erlenmeyer-16.png') left center no-repeat;
  padding-left: 20px;
}

table.exp-table td {
  padding: 4px;
}

.status-icon {
  display: inline-block;
  height: 24px;
  min-width: 24px;
  margin-right: 12px;
}

.status-icon.status-done {
  background: url('images/status-done-24.png') left center no-repeat;
}

.status-icon.status-running {
  background: url('images/status-running-24.png') left center no-repeat;
}

.status-icon.status-ready {
  background: url('images/status-ok-24.png') left center no-repeat;
}

.status-icon.status-failed {
  background: url('images/status-fail-24.png') left center no-repeat;
}

.status-icon.status-queued {
  background: url('images/status-queued-24.png') left center no-repeat;
}

.status-icon.status-prereq {
  background: url('images/status-prereq-24.png') left center no-repeat;
}

.plot {
  width: 340px;
  height: 280px;
  float: left;
  margin: 20px;
}

.plot img {
  width: 320px;
  height: 240px;
  border: solid 1px darkgrey;
  opacity: 0.67;
}

.plot img:hover {
  border: solid 1px blue;
  opacity: 1;
}

.plot ul {
  margin-left: 0;
  padding-left: 0;
}

.plot ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 10px;
}

.btn-pdf {
  background: #e0e0e0 url('images/icon-pdf-24.png') 4px 4px no-repeat;
  padding-left: 32px;
}

.btn-gp {
  background: #e0e0e0 url('images/graph-24.png') 4px 4px no-repeat;
  padding-left: 32px;
}

.btn-all-plots {
  background: #e0e0e0 url('images/pages-24.png') 4px 4px no-repeat;
  padding-left: 32px;
}

.with-desc {
  cursor: help;
}

.message {
  padding-left: 40px;
  border: solid 1px darkgrey;
  border-radius: 4px;
  min-height: 48px;
  display: table-cell;
  vertical-align: middle;
  margin-bottom: 12pt;
}

.message span {
  margin: auto;
  display: block;
  margin: 6px;
}

.message.info {
  background: white url('images/info-32.png') left center no-repeat;
}

.message.error {
  background: #fcc url('images/error-32.png') left center no-repeat;
}

#progress-bar {
  border: solid 1px darkgrey;
  height: 16px;
  width: auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right: 12pt;
  background: white;
  display: inline-block;
}

#progress-bar li {
  float: left;
  display: block;
  height: 16px;
  margin: 0;
  padding: 0;
}

#progress-bar .done {
  background-color: green;
}

#progress-bar .done:hover {
  background-color: lightgreen;
}

#progress-bar .queued {
  background-color: gray;
}

#progress-bar .queued:hover {
  background-color: lightgray;
}

#progress-bar .failed {
  background-color: red;
}

#progress-bar .failed:hover {
  background-color: #f88;
}

#progress-bar .other {
  background-color: white;
}

.pulldown {
  padding-left: 24px;
  background: url('images/expanded-24.png') top left no-repeat;
}

.pulldown.closed {
  background: url('images/collapsed-24.png') top left no-repeat;
}

.tables .table-icon {
  width: 24px;
  background: url('images/table-24.png') top center no-repeat;
}
